<div class="header">
  <div class="container flex">
    <div class="nav_bar">
      <ul class="nav_bar_lists">
        <li *ngFor="let link of list" class="bar_list">{{link}}</li>
      </ul>
    </div>
    <div class="log_in ">
      <ul>
        <li  class="bar_list">Մուտք</li>
      </ul>

    </div>
  </div>

</div>

  <div class="logo_block container flex ">
    <img class ='logo_img' src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/hy_AM/images/svg/main_logo_am.svg" alt="logo">
    <input class='search_input' placeholder="Մուտքագրեք ապրանքի անվանումը " type="text">
    <button class="search_btn">Որոնել</button>
<p class="phone">+374 11 900 800</p>
    <div class="header_icons">
      <img src="" alt="" class="icons">
      <img src="" alt="" class="icons">
        <img src="" alt="" class="icons">
    </div>
  </div>
<div class="blue">
<ul class="blue_lists">
  <li *ngFor="let link of blue_list" class="blue_list">{{link}}</li>
</ul>
</div>

